@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

:root {
  --primary-color: #9000b4;
  --secondary-color: #003953;
  --tertiary-color: #84d8ff;
  --light-color: #dddddd;
  --dark-color: #404040;

  --text-dark: rgb(36, 36, 36);
  --text-grey: rgb(104, 102, 102);
  --bg: rgba(192, 192, 192);
  --blue: #08a4ff;
  --purple: rgb(160, 4, 199);
  --yellow: rgb(251, 255, 0);
  --red: rgb(255, 32, 32);
  --orange: #f8ce0b;
  --shadow: 0 4px 6px -1px rgba($color: #84d8ff, $alpha: 0.1),
    0 2px 4px -1px rgba($color: #84d8ff, $alpha: 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--bg);
}

/* ============================ HEADER / NAVBAR ===================================== */

.navbar {
  background-color: var(--secondary-color);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  color: white;
  font-weight: 700;
}

.navbar-brand:hover {
  color: var(--tertiary-color);
}

.navbar-toggler {
  color: var(--tertiary-color);
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: var(--tertiary-color);
}

.nav-item {
  margin-right: 10px;
}

.navbar-brand img {
  height: 72px;
  width: 100px;
}

#cart-count {
  background-color: var(--orange);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

#search-btn {
  background-color: var(--tertiary-color);
}

#search-btn:hover {
  background-color: var(--primary-color);
}

.input-group {
  width: 100%;
  margin-right: 50%;
}

#search-field {
  height: 2.4rem;
  padding: 1rem;
}

/* ================================= HOME PAGE ================================= */

#products-heading {
  color: var(--light-color);
}

.custom-list {
  display: flex;
  flex-direction: row;
}

/* ================================= PRODUCT ITEM ================================= */
#no-of-reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

.ratings {
  font-size: 1rem;
  color: var(--orange);
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: var(--orange);
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: var(--orange);
}

#cart {
  font-size: 1rem;
  color: white;
}

#cart-count {
  background-color: var(--orange);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.card {
  height: 100%;
  margin-right: 8px;
  border-radius: 5px;
  min-width: fit-content;
  transition: all 0.75s ease;
}

.card:hover {
  background: linear-gradient(white, var(--tertiary-color));
  padding: 1rem;
}

.card-title a {
  color: var(--dark-color);
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

.card-category {
  font-size: 12px;
}

#view-btn {
  background-color: var(--secondary-color);
  color: white;
}

#view-btn:hover {
  box-shadow: 0 4px 6px -1px var(--primary-color),
    0 2px 4px -1px var(--primary-color);
  transition: all 0.75s ease-in;
}

.card-img-top {
  width: 100%;
  height: 150px;
}

/* ============================PRODUCT INFO PAGE =================================*/

#product-id {
  color: var(--light-color);
  font-size: 0.8rem;
}

#product-price {
  font-size: 2rem;
  font-weight: bold;
}

#cart-btn,
#review-btn {
  border-radius: 2rem;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.5rem 2rem;
}

#product-vendor {
  color: var(--light-color);
  font-size: 0.9rem;
}

#stock-status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product-image {
  margin-top: 9rem;
}

/* ================================= SPINNER ================================= */

.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1 {
  background-color: var(--primary-color);
}
.dot2 {
  background-color: var(--tertiary-color);
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/** ================================= FOOTER ================================= */

footer .main-footer {
  padding: 1rem 0;
  background: var(--light-color);
  margin-top: 6rem;
  /* Footer Top */
  /* Footer transparent */
  /* Footer light */
  /* Footer 4 */
  /* Widgets */
}
footer .main-footer footer ul {
  padding-left: 0;
  list-style: none;
}
footer .main-footer .footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222;
}
footer .main-footer footer.transparent .footer-top,
footer .main-footer footer.transparent .main-footer {
  background: transparent;
}
footer .main-footer footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
footer .main-footer footer.light .footer-top {
  background: #f9f9f9;
}
footer .main-footer footer.light .main-footer {
  background: #f9f9f9;
}
footer .main-footer footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
footer .main-footer .footer- .logo {
  display: inline-block;
}
footer .main-footer .widget {
  padding: 20px;
  margin-bottom: 40px;
  text-decoration: none;
}
footer .main-footer .widget.widget-last {
  margin-bottom: 0px;
}
footer .main-footer .widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
footer .main-footer .widget.subscribe p {
  margin-bottom: 18px;
}
footer .main-footer .widget li a {
  color: var(--primary-color);
}
footer .main-footer .widget li a:hover {
  color: var(--secondary-color);
}
footer .main-footer .widget-title {
  margin-bottom: 20px;
}
footer .main-footer .widget-title span {
  background: var(--dark-color) none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%;
}
footer .main-footer .widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}
footer .main-footer .widget-title.text-center span,
footer .main-footer .widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
footer .main-footer .widget .badge {
  float: right;
  background: var(--primary-color);
}
footer .main-footer .typo-light h1,
footer .main-footer .typo-light h2,
footer .main-footer .typo-light h3,
footer .main-footer .typo-light h4,
footer .main-footer .typo-light h5,
footer .main-footer .typo-light h6,
footer .main-footer .typo-light p,
footer .main-footer .typo-light div,
footer .main-footer .typo-light span,
footer .main-footer .typo-light small {
  color: #fff;
}
footer .main-footer ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
footer .main-footer ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
footer .main-footer ul.social-footer2 li a:hover {
  background-color: #d67f39;
}
footer .main-footer ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
}

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
}

.footer-copyright .logo {
  display: inherit;
}

.footer-copyright nav {
  float: right;
  margin-top: 5px;
}

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}

.footer-copyright nav ul li a {
  color: var(--primary-color);
}

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}

.footer-copyright p {
  color: var(--primary-color);
  margin: 2px 0 0;
}

/*==================================== HEADINGS ==============================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: var(--dark-color);
}
h1.large-heading,
h2.large-heading,
h3.large-heading,
h4.large-heading,
h5.large-heading,
h6.large-heading {
  font-size: 4.2rem;
  padding: 2rem !important;
  text-transform: uppercase;
}
h1.medium-heading,
h2.medium-heading,
h3.medium-heading,
h4.medium-heading,
h5.medium-heading,
h6.medium-heading {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(220, 236, 248, 0.85);
  text-transform: uppercase;
}
h1.small-heading,
h2.small-heading,
h3.small-heading,
h4.small-heading,
h5.small-heading,
h6.small-heading {
  margin: 2rem;
  padding: 0.2rem 1rem;
  background: var(--secondary-color);
  text-transform: uppercase;
}
h1.x-small-heading,
h2.x-small-heading,
h3.x-small-heading,
h4.x-small-heading,
h5.x-small-heading,
h6.x-small-heading {
  margin-bottom: 1rem;
  padding: 0.1rem 0.5rem;
  background: var(--secondary-color);
  text-transform: uppercase;
}

.heading {
  border: none;
  color: rgba(21, 71, 110, 0.85);
  padding: 2rem;
}

h3.heading,
h4.heading,
h5.heading,
h6.heading {
  color: var(--light-color);
  border: none;
  font-size: 1.9rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.heading-underline {
  width: 6rem;
  height: 0.3rem;
  background-color: var(--secondary-color);
  margin: 0 auto 2rem;
}

.custom-header:hover {
  background-color: var(--primary-color);
  transition: all 0.75s ease-out;
}
